<footer class="main-footer">
    <strong>Copyright &copy; 2023.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Facebook: <a href="https://facebook.com/charlestuan1412/">CharlesTuan253</a></b>
    </div>
</footer>