@model IEnumerable<DATC_Core.Models.Product>


<div class="banner">
	<div class="container">
		<div class="row">
			@foreach (var item in Model.Take(3))
			{
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url('@Url.Content("~/images/categories/" + item.Cate.Thumb)')">
						<div class="banner_category">
							<a href="#">@item.Cate.CateName</a>
						</div>
					</div>
				</div>
			}
			
			@* <div class="col-md-4">
				<div class="banner_item align-items-center" style="background-image:url(/assets/images/banner_2.jpg)">
					<div class="banner_category">
						<a href="#">accessories's</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="banner_item align-items-center" style="background-image:url(/assets/images/banner_3.jpg)">
					<div class="banner_category">
						<a href="#">men's</a>
					</div>
				</div>
			</div> *@

		</div>
	</div>
</div>