@charset "utf-8";
/* CSS Document */

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	/***/
	.filter_button
	{
		width: 150px;
	}
	.main_content
	{
		float: none;
		width: 100%;
		padding-left: 0px;
	}
	.grid-item
	{
		width: 25%;
	}
	.product-item
	{
		width: 33.33333333%;
	}
}



/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.new_arrivals_title
	{
		margin-top: 44px;
	}
	.product_sorting
	{
		display: block;
	}
	.product_sorting > li
	{
		display: block;
		margin-bottom: 15px;
	}
	.pages
	{
		float: none;
	}
	.showing_results
	{
		display: block;
		float: none;
		margin-bottom: 15px;
	}
	.product_sorting_container_bottom .product_sorting
	{
		float: none;
	}
	.product_sorting_container_bottom .pages
	{
		float: none;
	}
	.product-item
	{
		width: 33.333333333333%;
		height: 345px;
	}
	.product
	{
		height: 305px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{

	.product-item
	{
		width: 50%;
		height: 420px;
	}
	.product
	{
		height: 380px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.product-item
	{
		width: 100%;
		height: auto;
	}
	.product
	{
		height: auto;
	}
	.product_name a
	{
		font-size: 12px;
	}
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}