@charset "utf-8";
/* CSS Document */


/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.single_product_thumbnails ul li
	{
		height: 110px;
	}
	.single_product_image
	{
		height: 436px;
	}
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.single_product_image
	{
		margin-bottom: 15px;
		height: 785px;
	}
	.single_product_thumbnails
	{
		height: auto;
	}
	.single_product_thumbnails ul li
	{
		display: inline-block;
		width: 110px;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.single_product_thumbnails ul li img
	{
		height: 100%;
	}
	.product_details
	{
		margin-top: 71px;
	}
}



/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.tab_title
	{
		margin-bottom: 78px;
	}
	.tab_text_block
	{
		margin-bottom: 113px;
	}
	.tab_image
	{
		margin-bottom: 111px;
	}
	.single_product_image
	{
		height: 576px;
	}
	.desc_last
	{
		margin-bottom: 0px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{

	.quantity
	{
		height: auto;
	}
	.quantity_selector
	{
		height: 40px;
		margin-left: 0px;
		margin-top: 15px;
	}
	.add_to_cart_button
	{
		margin-left: 0px;
		margin-top: 15px;
	}
	.product_favorite
	{
		margin-left: 0px;
		margin-top: 15px;
		height: 40px;
	}
	.tab
	{
		margin-right: 30px;
	}
	.tab span
	{
		font-size: 14px;
	}
	.tab_title h4
	{
		font-size: 20px;
	}
	.review
	{
		padding-left: 0px;
	}
	.review_date
	{
		margin-top: 15px;
	}
	.add_review
	{
		margin-top: 44px;
	}
	.user_rating .star_rating
	{
		margin-left: 0px;
		margin-top: 7px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
	.review_submit_btn,
	.add_to_cart_button
	{
		font-size: 12px;
		/*width: 130px;*/
		height: 36px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}